body {
  background-color: black;
}

body::after {
  content: "";
  background: url(assets/heropage.avif);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#title h1 {
  margin-top: 3rem;
  font-size: 56px;
  color: white;
}

#info-text {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#info-text p {
  font-size: 24px;
  color: white;
}

#info-text button {
  margin-top: 3rem;
  height: 5rem;
  text-align: center;
  animation: gradientAnimation 10s ease infinite, scale 1s ease infinite;
  border-radius: 1rem;
  transition: 3s;
}

#info-text button:hover {
  scale: 120%;
}

@keyframes gradientAnimation {
  0% {
    background-color: #12a8f4;
    scale: 100%;
  }
  50% {
    background-color: #f746a1;
    scale: 120%;
  }

  100% {
    background-color: #12a8f4;
    scale: 100%;
  }
}

@keyframes scale {
  0% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
  100% {
    scale: 100%;
  }
}

.page {
  z-index: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#header-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#logo {
  display: flex;
  align-items: center;
}

#Booking-container {
  scale: 140%;
  margin-top: 4rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
  transition: 1s;
}

#Booking-container:hover path {
  fill: #f746a1;
}

#butikk-container {
  scale: 140%;
  margin-top: 4rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
}

#butikk-container:hover path {
  fill: #f746a1;
}

#senteret-container {
  scale: 140%;
  margin-top: 4rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: row;
}

#senteret-container:hover path {
  fill: #f746a1;
}

#logginn-container {
  scale: 140%;
  margin-top: 4rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: row;
}

#logginn-container:hover path {
  fill: #f746a1;
}

#logo {
  transition: 0.5s;
}

#logo:hover {
  scale: 120%;
}
